body {
  background-color: #E5E4E7;
}


.descriptimage {
  display: inline-flex;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

a {
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
}
